body {
  background: #ffffff;
}
.mode_img[data-mode="light"] {
  display: none;
}
.mode_img[data-mode="dark"] {
  display: block;
}
:root {
  --title: #192252;
  --item: #848fac;

  --btn-color: #fff;
  --btn-bg: #0e1734;
  --btn-box-shadow: #0e1734;

  --btn-color-hover-active: #fff;
  --btn-bg-hover-active: #1f326f;
  --btn-box-shadow-hover-active: #10162c;
}
/* Media for light */
@media (max-width: 992px) {
  .humb__line {
    background: var(--title);
  }
  .popup {
    background: #9aaff4e4;
  }
  .popup .header__logo {
    color: var(--title);
    text-shadow: 3px 3px 3px rgba(3, 74, 196, 0.545);
  }
  .popup ul > li > a {
    color: var(--title);
    text-shadow: 3px 3px 3px rgba(3, 74, 196, 0.545);
  }
  .popup ul > li > a:hover,
  .popup ul > li > a:active {
    color: var(--btn-color-hover-active);
  }
}

/* HEADER */
.header__logo {
  color: var(--title);
}
.header__menu ul > li > a {
  color: var(--title);
}
.header__menu ul > li > a:hover,
.header__menu ul > li > a:active {
  color: #2339b4;
  text-shadow: 2px 2px 3px #15216796;
}
.header__button {
  color: var(--btn-color);
  background: var(--btn-bg);
  box-shadow: 0px 5px 3px var(--btn-box-shadow);
}
.header__button:hover,
.header__button:active {
  color: var(--btn-color-hover-active);
  background: var(--btn-bg-hover-active);
  box-shadow: 0px 5px 3px var(--btn-box-shadow-hover-active);
}
/* INTRO */
.intro__title {
  color: var(--title);
}
.intro__item {
  color: var(--item);
}
.intro__reservation {
  color: var(--btn-color);
  background: var(--btn-bg);
  box-shadow: 0px 5px 3px var(--btn-box-shadow);
}
.intro__reservation:hover,
.intro__reservation:active {
  color: var(--btn-color-hover-active);
  background: var(--btn-bg-hover-active);
  box-shadow: 0px 5px 3px var(--btn-box-shadow-hover-active);
}
/* ABOUT-HOTEL */
.discription__title {
  color: var(--title);
}
.discription__item {
  color: var(--item);
}
.discription__btn {
  color: var(--btn-color-hover-active);
  background: var(--btn-bg);
  box-shadow: 0px 5px 3px var(--btn-box-shadow);
}
.discription__btn:hover,
.discription__btn:active {
  color: var(--btn-color-hover-active);
  background: var(--btn-bg-hover-active);
  box-shadow: 0px 5px 3px var(--btn-box-shadow-hover-active);
}
/* FOOD */
.food__title {
  color: var(--title);
}
.food__item {
  color: var(--item);
}
/* ROOMS */
.rooms__description_title {
  color: var(--title);
}
.rooms__description_item {
  color: var(--item);
}
.rooms__description_btn {
  color: var(--btn-color);
  background: var(--btn-bg);
  box-shadow: 0px 5px 3px var(--btn-box-shadow);
}
.rooms__description_btn:hover,
.rooms__description_btn:active {
  color: var(--btn-color-hover-active);
  background: var(--btn-bg-hover-active);
  box-shadow: 0px 5px 3px var(--btn-box-shadow-hover-active);
}
.rooms__title {
  color: var(--title);
}
.rooms__item {
  color: var(--item);
}
.rooms__btn {
  color: #424f7b;
  background: url("../img/arrows/room_arrow.svg") 100px 50% no-repeat;
}
.rooms__btn:hover,
.rooms__btn:active {
  background: url("../img/arrows/room_arrow.svg") 105px 50% no-repeat;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.433);
}
/* BOOK */
.book__subtitle {
  color: #424f7b;
}
.book__title {
  color: var(--title);
}
.book__item {
  color: var(--item);
}
.book__btn {
  color: var(--btn-color);
  background: var(--btn-bg);
  box-shadow: 0px 5px 3px var(--btn-box-shadow);
}
.book__btn:hover,
.book__btn:active {
  color: var(--btn-color-hover-active);
  background: var(--btn-bg-hover-active);
  box-shadow: 0px 5px 3px var(--btn-box-shadow-hover-active);
}
.book__link {
  color: #0e1734;
}
.book__link:hover,
.book__link:active {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.433);
}
.accordion__box {
  background: var(--btn-color);
  box-shadow: 0px 1px 30px #dfdfdfe9;
}
.accordion__lable {
  color: #424f7b;
}
.accordion__lable:after {
  content: "";
  background: #ffece2;
  background-image: url("../img/arrows/accordion-arrow_down.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0deg);
}
.accordion__lable:hover:after {
  box-shadow: 0 0 30px #f0813cc7;
}
.accordion__active .accordion__lable:after {
  content: "";
  color: #ffece2;
  background: #ff620a;
  background-image: url("../img/arrows/accordion-arrow_up.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.accordion__content {
  color: var(--item);
}
/* WOMEN */
.women__title {
  color: var(--title);
}
.women-slider__wrap:hover {
  box-shadow: 0 0 30px #2339b4;
}
.women-btn__prev {
  background-image: url("../img/arrows/accordion-arrow_down.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: rotate(90deg);
}
.women-btn__next {
  background: url("../img/arrows/accordion-arrow_down.svg") 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: rotate(-90deg);
}
.women-coment p {
  color: var(--item);
}
.women-name p {
  color: var(--title);
}
.women-dot {
  background: rgba(250, 176, 71, 0.35);
}
.dot_active {
  background: #fab047;
}
/* FOOTER */
.footer {
  background: #0b265a;
}
.footer__titel {
  color: var(--btn-color);
}
.footer__item {
  color: #d9dbde;
}
.room {
  color: #d9dbde;
}
.room:hover {
  text-shadow: 0px 0px 5px var(--btn-color);
}
.room__first {
  color: var(--btn-color);
}
.reservation {
  color: #d9dbde;
}
.reservation__first {
  color: var(--btn-color);
}
.reservation:hover {
  text-shadow: 0px 0px 5px var(--btn-color);
}
.contact {
  color: #d9dbde;
}
.contact__first {
  color: var(--btn-color);
}
.contact:hover {
  text-shadow: 0px 0px 5px var(--btn-color);
}
/* SCROLL */
#scrollTop {
  color: var(--item);
}
/* MODE */
.modes img {
  box-shadow: 0 0 15px #0e1734;
}
@media (max-width: 1105px) {
  .intro__item {
    color: #0b265a;
  }
}
/* HEADER MODAL */
.header__modal {
  background: rgba(0, 0, 0, 0.8);
}
.header__modal-form {
  box-shadow: 0 0 30px #000000c9;
  background: #3465ae;
}
.header__modal-form input{
  color: rgb(20, 35, 100);
}
.modal-form__cross {
  color: rgb(20, 35, 100);
}
.header__modal-form input:focus {
  box-shadow: 0 0 20px #00001d;
}
.header__modal-form input::placeholder {
  color: rgba(0, 26, 255, 0.393);
}
.modal-form__recovery{color: #fff;}
.modal-form__sign-in {
  background: rgb(20, 35, 100);
  color: #fff;
}
.modal-form__sign-in:hover {
  background: rgba(0, 9, 54, 0.83);
}
.modal-form__sign-up {
  color: #fff;
}
